<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<br><br><br><br>
<!-- ================================================== -->
<h1>About</h1>
<p>
    <h4>What Are Medicines?</h4>
Medicines are chemicals or compounds used to cure, halt, or prevent disease; ease symptoms; or help in the diagnosis of illnesses. Advances in medicines have enabled doctors to cure many diseases and save lives.

These days, medicines come from a variety of sources. Many were developed from substances found in nature, and even today many are extracted from plants.

Some medicines are made in labs by mixing together a number of chemicals. Others, like penicillin, are byproducts of organisms such as fungus. And a few are even biologically engineered by inserting genes into bacteria that make them produce the desired substance.

When we think about taking medicines, we often think of pills. But medicines can be delivered in many ways, such as:

liquids that are swallowed
drops that are put into ears or eyes
creams, gels, or ointments that are rubbed onto the skin
inhalers (like nasal sprays or asthma inhalers)
patches that are stuck to skin (called transdermal patches)
tablets that are placed under the tongue (called sublingual medicines; the medicine is absorbed into blood vessels and enters the bloodstream)
injections (shots) or intravenous (inserted into a vein) medicines
No medicine can be sold unless it has first been approved by the U.S. Food and Drug Administration (FDA). The makers of the medicine do tests on all new medicines and send the results to the FDA.

The FDA allows new medicines to be used only if they work and if they are safe enough. When a medicine's benefits outweigh its known risks, the FDA usually approves the sale of the drug. The FDA can withdraw a medicine from the market at any time if it later is found to cause harmful side effects.
</p>
<p>
<h4>Different Types of Medicines</h4>
Medicines act in a variety of ways. Some can cure an illness by killing or halting the spread of invading germs, such as bacteria and viruses. Others are used to treat cancer by killing cells as they divide or preventing them from multiplying. Some drugs replace missing substances or correct low levels of natural body chemicals such as some hormones or vitamins. Medicines can even affect parts of the nervous system that control a body process.

Nearly everyone has taken an antibiotic. This type of medicine fights bacterial infections. Your doctor may prescribe an antibiotic for things like strep throat or an ear infection. Antibiotics work either by killing bacteria or halting their multiplication so that the body's immune system can fight off the infection.

Sometimes a part of the body can't make enough of a chemical. That can also make you sick. Someone with insulin-dependent diabetes, for instance, has a pancreas that can't produce enough insulin (a hormone that regulates glucose in the body). Some people have a low production of thyroid hormone, which helps control how the body uses energy. In each case, doctors can prescribe medicines to replace the missing hormone.

Some medicines treat symptoms but can't cure the illness that causes the symptoms. (A symptom is anything you feel while you're sick, such as a cough or nausea.) So taking a lozenge may soothe a sore throat, but it won't kill that nasty strep bacteria.

Some medicines relieve pain. If you pull a muscle, your doctor might tell you to take ibuprofen or acetaminophen. These pain relievers, or analgesics, don't get rid of the source of the pain — your muscle will still be pulled. What they do is block the pathways that transmit pain signals from the injured or irritated body part to the brain (in other words, they affect the way the brain reads the pain signal) so that you don't hurt as much while your body recovers.

As people get older, they sometimes develop chronic or long-term conditions. Medicines can help control things like high blood pressure (hypertension) or high cholesterol. These drugs don't cure the underlying problem, but they can help prevent some of its body-damaging effects over time.

Among the most important medicines are immunizations (or vaccines). These keep people from getting sick in the first place by immunizing, or protecting, the body against some infectious diseases. Vaccines usually contain a small amount of an agent that resembles a specific germ or germs that have been modified or killed. When someone is vaccinated, it primes the body's immune system to "remember" the germ so it will be able to fight off infection by that germ in the future.

Most immunizations that prevent you from catching diseases like measles, whooping cough, and chickenpox are given by injection. No one thinks shots are fun. But the diseases they prevent can be very serious and cause symptoms that last much longer than the temporary discomfort of the shot. To make life easier, now you can get immunizations at many pharmacies.

Although some medicines require a prescription, some are available in stores. You can buy many medicines for pain, fever, cough, or allergies without a prescription. But just because a medicine is available over-the-counter (OTC), that doesn't mean it's free of side effects. Take OTC medicines with the same caution as those prescribed by a doctor.
</p>
<p>
<h4>Taking Medicines</h4>
No matter what type of medicine your doctor prescribes, it's always important to be safe and follow some basic rules:

If you feel worse after taking a medicine, tell your doctor right away.
Double-check that you have the right medicine. If you get the same prescription filled more than once, check that it's the same shape, size, and color as the last time. If not, be sure to ask the pharmacist about it.
Read the label and follow directions. Ask if you have questions.
Take medicines exactly as prescribed. If the instructions say take one tablet four times a day, don't take two tablets twice a day. It's not the same.
Ask if the medicine is likely to affect everyday tasks such as driving or concentrating in school.
Don't take more medicine than is recommended. It won't make you heal faster or feel better quicker. In fact, an overdose of medicine can make you sick.
Always follow your doctor's or pharmacist's instructions. For instance, he or she may tell you to take a medicine with food to help lessen the stomach upset it can cause or instead to take the medicine on an empty stomach so as not to interfere with the medicine's absorption into your body.
Never share prescription medicine with anyone else, even if that person has the same thing as you do. Today's medicines are very complex, and the dosages tend to be precisely prescribed for each person's needs. Either under-dosing or overdosing can be harmful. Additionally, someone else's body may react differently to the same medicine (for example, if the person has an allergy to one of the components of the medicine).
If you're already taking a medicine but also want to take something you can buy over-the-counter, ask the pharmacist. There could be a bad interaction between the medicines.
Always tell your doctor and pharmacist if you're taking any other medicines or any herbal supplements so that he or she can check for any interactions between the medicines.
Be sure to tell your doctor if you are pregnant or might be pregnant. Some medicines can be harmful to the baby. Also, let your doctor or pharmacist know if you are breastfeeding, as some medications can cause problems with nursing.
Remember that drinking alcohol can dramatically worsen the side effects of many medicines. 
Even if you get sick with what you think is the same old thing, don't decide on your own that you know what's wrong and take some leftover medicine. Taking that medicine for a different disease might not work — and it can even be harmful. Talk to your doctor first.
Take antibiotics for the full length of the time prescribed, even if you start to be feel better, so that all the germs are killed and the infection doesn't bounce back.
Keep medicines in their original labeled containers, if possible.
Don't use medicine that has expired, especially prescription medicine.
Medicines should not be stored in your bathroom because heat and humidity can affect the potency of the drug. Most medicines should be kept at room temperature and away from sunlight. Some must be refrigerated. Check with your pharmacist or doctor if you aren't sure.
Make sure all medicines are stored safely and out of the reach of younger brothers or sisters and pets.
If you have any allergies, tell your doctor and pharmacist before they start you on a new medicine.
If you get a rash, start itching, vomiting, or have trouble breathing after starting a medicine, tell your parents immediately. Breathing difficulty, breaking out in hives, or suddenly developing swelling of the tongue, lips, face, or other body parts may be signs of a severe allergic reaction — get emergency medical care right away.
Taking medicines may feel like a hassle sometimes. But medicines are the most effective treatments available for many illnesses. If you ever have any questions about what a medicine does or how you should take it, talk with your doctor or a pharmacist.
</p>
</body>
<%- include ('partials/footer') %>
</html>